
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202025;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active {
  background-color: #393f42;
}
body {background-color: #F8F8FF;}

.Nav a:hover {
  background-color: #ddd;
  color: black;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.button {
  height: 200px;
  width: 200px;
  border-radius: 100px;
 }
 .button:hover {background-color: #262926}
